@import "tailwindcss";

.font-oxanium {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



@keyframes ribbonAppearance {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes ribbonDisappearance {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(100%);
  }
}
.ribbonBase {
  transform: translateX(-100%); /* hidden off-screen */
}
.ribbonAppearance{
  animation: ribbonAppearance;
  animation-duration: 350ms;
  animation-timing-function: ease;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.ribbonDisappearance{
  animation: ribbonDisappearance;
  animation-duration: 350ms;
  animation-timing-function:ease;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}



@keyframes navigationAppearence{
  0%{
    opacity: 0;
    transform: translateY(-200px);
  }
  60%{
    opacity: 0;
    transform: translateY(-200px);
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}
.navigationAppearence{
  animation: navigationAppearence;
  animation-duration: 3000ms;
  animation-delay: 0ms;
  animation-timing-function:ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}



@keyframes darkModeToggle {
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(-37px);
  }
}
@keyframes lightModeToggle {
  0%{
    transform: translateX(-37px);
  }
  100%{
    transform: translateX(0px);
  }
}
.darkModeToggle {
  animation: darkModeToggle;
  animation-duration: 100ms;
  animation-delay: 0ms;
  animation-timing-function:ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.lightModeToggle {
  animation: lightModeToggle;
  animation-duration: 100ms;
  animation-delay: 0ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}



@keyframes fastPulse{
  0%{
    opacity: 100%;
  }
  50%{
  opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}
.fastPulse{
  animation: fastPulse;
  animation-duration: 900ms;
  animation-timing-function:cubic-bezier(0.075, 1, 0.075, 1);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}



@keyframes imageFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.imageFadeIn {
  animation: imageFadeIn 600ms ease-in-out forwards;
}

.bg-orange {
  background-image: url("/Orange-landscape.jpg");
}

.bg-green {
  background-image: url("/Green-landscape.jpg");
}
.bg-orange-base {
  background-image: url("/Orange-landscape.jpg");
}



/*custom color pallet*/
@theme {
  --color-ltOrange: var(--color-orange-500);
  --color-dfOrange: var(--color-amber-700);
  --color-drOrange: var(--color-orange-700);
  
  --color-lt2Gray: var(--color-gray-200);
  --color-ltGray: var(--color-gray-300);
  --color-dfGray: var(--color-gray-400);
  --color-drGray: var(--color-gray-500);
  --color-navTab: #bac0ca;

  --color-ltGreen: var(--color-teal-300);
  --color-dfGreen: var(--color-teal-500);
  --color-drGreen: var(--color-teal-700);
  --color-dr2Green: var(--color-teal-800);

  --color-lt2Slate: var(--color-slate-600);
  --color-ltSlate: var(--color-teal-950);
  --color-dfSlate: var(--color-slate-800);
  --color-drSlate: var(--color-slate-900);
  --color-dr2Slate: var(--color-slate-950);
}
* {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 270ms;
}