@import "tailwindcss";

.font-oxanium {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@keyframes ribbonAppearance {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes ribbonDisappearance {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(100%);
  }
}

.ribbonBase {
  transform: translateX(-100%); /* hidden off-screen */
}

.ribbonAppearance{
  animation: ribbonAppearance;
  animation-duration: 350ms;
  animation-timing-function: ease;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.ribbonDisappearance{
  animation: ribbonDisappearance;
  animation-duration: 350ms;
  animation-timing-function:ease;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes navigationAppearence{
  0%{
    opacity: 0;
    transform: translateY(-200px);
  }
  80%{
    opacity: 0;
    transform: translateY(-200px);
  }
  90%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

.navigationAppearence{
  animation: navigationAppearence;
  animation-duration: 2300ms;
  animation-delay: 0ms;
  animation-timing-function:ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fastPulse{
  0%{
    opacity: 100%;
  }
  50%{
  opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}

.fastPulse{
  animation: fastPulse;
  animation-duration: 900ms;
  animation-timing-function:cubic-bezier(0.075, 1, 0.075, 1);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
