@import "tailwindcss";

.font-oxanium {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}


@keyframes ribbonAppearance {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes ribbonDisappearance {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(100%);
  }
}
.ribbonBase {
  transform: translateX(-100%); /* hidden off-screen */
}
.ribbonAppearance{
  animation: ribbonAppearance;
  animation-duration: 350ms;
  animation-timing-function: ease;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.ribbonDisappearance{
  animation: ribbonDisappearance;
  animation-duration: 350ms;
  animation-timing-function:ease;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}



@keyframes navigationAppearence{
  0%{
    opacity: 0;
    transform: translateY(-200px);
  }
  60%{
    opacity: 0;
    transform: translateY(-200px);
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}
.navigationAppearence{
  animation: navigationAppearence;
  animation-duration: 3000ms;
  animation-delay: 0ms;
  animation-timing-function:ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.navigationUp {
  transform: translateY(-50vh);
  transition: transform 0.4s cubic-bezier(.61,0,.07,.98);
}
.navigationDown {
  transform: translateY(0px);
  transition: transform 0.4s cubic-bezier(.61,0,.07,.98);
}
.navigationUpMobile {
  transform: translateY(-90vh);
  transition: transform 0.4s cubic-bezier(.61,0,.07,.98);
}
.navigationDownMobile {
  transform: translateY(20vh);
  transition: transform 0.4s cubic-bezier(.61,0,.07,.98);
}


.moveHeaderUp {
  transform: translateY(25px);
  transition: transform 0.4s cubic-bezier(.61,0,.07,.98);
}
.moveHeaderDown {
  transform: translateY(40vh);
  transition: transform 0.4s cubic-bezier(.61,0,.07,.98);
}



@keyframes circleAppearence{
  0%{
    opacity: 0;
  }
  70%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.circleAppearence{
  animation: circleAppearence;
  animation-duration: 3000ms;
  animation-delay: 0ms;
  animation-timing-function:ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes darkBallAppearence{
  0%{
    transform: translateX(calc(-100vw - 5rem));
  }
  40%{
    transform: translateX(calc(-100vw - 5rem));
  }
  100%{
    transform: translateX(0%);
  }
}
.darkBallAppearence{
  animation: darkBallAppearence;
  animation-duration: 3000ms;
  animation-delay: 0ms;
  animation-timing-function:ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes lightBallAppearence{
  0%{
    transform: translateX(calc(100vw + 5rem));
  }
  40%{
    transform: translateX(calc(100vw + 5rem));
  }
  100%{
    transform: translateX(0px);
  }
}
.lightBallAppearence{
  animation: lightBallAppearence;
  animation-duration: 3000ms;
  animation-delay: 0ms;
  animation-timing-function:ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.ball {
  transition: top 0.4s cubic-bezier(.61,0,.07,.98);
}
.moveBallDown {
  top: 87vh;
}
.moveBallUp {
  top: 5vh;
}



.darkModeToggle {
  transform: translateX(-37px);
  transition: transform 0.2s cubic-bezier(.61,0,.07,.98);
}
.lightModeToggle {
  transform: translateX(0px);
  transition: transform 0.2s cubic-bezier(.61,0,.07,.98);
}



@keyframes fastPulse{
  0%{
    opacity: 100%;
  }
  50%{
  opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}
.fastPulse{
  animation: fastPulse;
  animation-duration: 900ms;
  animation-timing-function:cubic-bezier(0.075, 1, 0.075, 1);
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}



@keyframes imageFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.imageFadeIn {
  animation: imageFadeIn 600ms ease-in-out forwards;
}
.bg-orangeIn {
  animation: imageFadeIn 600ms ease forwards;
  background-image: url("/Orange-landscape.jpg");
}
.bg-greenIn {
  animation: imageFadeIn 600ms ease forwards;
  background-image: url("/Green-landscape.jpg");
}



.TabBlurIn {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}
.TabBlurOut {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
.TabIn {
  transform: translateY(0px);
  transition: transform 0.4s cubic-bezier(.61,0,.07,.98);
}
.TabOut {
  transform: translateY(100vh);
  transition: transform 0.4s cubic-bezier(.61,0,.07,.98);
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c5c5c69;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/*custom color pallet*/
@theme {
  --color-ltPrimary: var(--color-orange-500);
  --color-dfPrimary: var(--color-amber-700);
  --color-drPrimary: var(--color-orange-700);
  
  --color-lt2Secondary: var(--color-gray-200);
  --color-ltSecondary: var(--color-gray-300);
  --color-dfSecondary: var(--color-gray-400);
  --color-drSecondary: var(--color-gray-500);
  --color-navTab: #bac0ca;

  --color-lt2PrimaryDark: var(--color-teal-200);
  --color-ltPrimaryDark: var(--color-teal-300);
  --color-dfPrimaryDark: var(--color-teal-500);
  --color-drPrimaryDark: var(--color-teal-700);
  --color-dr2PrimaryDark: var(--color-teal-800);

  --color-lt2SecondaryDark: var(--color-slate-600);
  --color-ltSecondaryDark: var(--color-teal-950);
  --color-dfSecondaryDark: var(--color-slate-800);
  --color-drSecondaryDark: #023131;
  --color-dr2SecondaryDark: #011818;
}
* {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 270ms;
}
